<center><h1>Maharajwala_Raj_HW3</h1></center>
<br>
<br>

Name: Raj Vijay Maharajwala
<br>
Github Username: RajMaharajwala
<br>
USC ID: 4863-3649-66

## 1. Time Series Classification Part 1: Feature Creation/Extraction

### (a) Download Data

Package imports

In [1]:
# !pip install bootstrapped

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as py
import plotly.express as px
import cufflinks as cf
import statsmodels.formula.api as smf
import statsmodels.api as sm
from glob import glob
import  re
import bootstrapped.bootstrap as bs
import scipy.stats as stats
import bootstrapped.stats_functions as bs_stats

Get the AReM Data Set

In [3]:
# All files and directories ending with .csv:
gl = glob("../data/AReM/*/*.csv")
gln = [x.replace('../data/AReM\\','') for x in gl]
print("Number of csv files:",len(gln))
print("Files and folder names:\n",gln)

Number of csv files: 88
Files and folder names:
 ['bending1\\dataset1.csv', 'bending1\\dataset2.csv', 'bending1\\dataset3.csv', 'bending1\\dataset4.csv', 'bending1\\dataset5.csv', 'bending1\\dataset6.csv', 'bending1\\dataset7.csv', 'bending2\\dataset1.csv', 'bending2\\dataset2.csv', 'bending2\\dataset3.csv', 'bending2\\dataset4.csv', 'bending2\\dataset5.csv', 'bending2\\dataset6.csv', 'cycling\\dataset1.csv', 'cycling\\dataset10.csv', 'cycling\\dataset11.csv', 'cycling\\dataset12.csv', 'cycling\\dataset13.csv', 'cycling\\dataset14.csv', 'cycling\\dataset15.csv', 'cycling\\dataset2.csv', 'cycling\\dataset3.csv', 'cycling\\dataset4.csv', 'cycling\\dataset5.csv', 'cycling\\dataset6.csv', 'cycling\\dataset7.csv', 'cycling\\dataset8.csv', 'cycling\\dataset9.csv', 'lying\\dataset1.csv', 'lying\\dataset10.csv', 'lying\\dataset11.csv', 'lying\\dataset12.csv', 'lying\\dataset13.csv', 'lying\\dataset14.csv', 'lying\\dataset15.csv', 'lying\\dataset2.csv', 'lying\\dataset3.csv', 'lying\\dataset4.csv', 'lying\\dataset5.csv', 'lying\\dataset6.csv', 'lying\\dataset7.csv', 'lying\\dataset8.csv', 'lying\\dataset9.csv', 'sitting\\dataset1.csv', 'sitting\\dataset10.csv', 'sitting\\dataset11.csv', 'sitting\\dataset12.csv', 'sitting\\dataset13.csv', 'sitting\\dataset14.csv', 'sitting\\dataset15.csv', 'sitting\\dataset2.csv', 'sitting\\dataset3.csv', 'sitting\\dataset4.csv', 'sitting\\dataset5.csv', 'sitting\\dataset6.csv', 'sitting\\dataset7.csv', 'sitting\\dataset8.csv', 'sitting\\dataset9.csv', 'standing\\dataset1.csv', 'standing\\dataset10.csv', 'standing\\dataset11.csv', 'standing\\dataset12.csv', 'standing\\dataset13.csv', 'standing\\dataset14.csv', 'standing\\dataset15.csv', 'standing\\dataset2.csv', 'standing\\dataset3.csv', 'standing\\dataset4.csv', 'standing\\dataset5.csv', 'standing\\dataset6.csv', 'standing\\dataset7.csv', 'standing\\dataset8.csv', 'standing\\dataset9.csv', 'walking\\dataset1.csv', 'walking\\dataset10.csv', 'walking\\dataset11.csv', 'walking\\dataset12.csv', 'walking\\dataset13.csv', 'walking\\dataset14.csv', 'walking\\dataset15.csv', 'walking\\dataset2.csv', 'walking\\dataset3.csv', 'walking\\dataset4.csv', 'walking\\dataset5.csv', 'walking\\dataset6.csv', 'walking\\dataset7.csv', 'walking\\dataset8.csv', 'walking\\dataset9.csv']

### (b) Test and Train Data

~~~
Keep datasets 1 and 2 in folders bending1 and bending 2, as well as datasets 1,
2, and 3 in other folders as test data and other datasets as train data.
~~~

Training Data

In [4]:
# for training bending 1 data
file_bend1 = ['dataset3.csv','dataset4.csv','dataset5.csv','dataset6.csv','dataset7.csv']
bend1_list = []
for f1 in file_bend1: 
    dfbend1_i = pd.read_csv('../data/AReM/bending1/' + f1, skiprows=4)
    dfbend1_i = dfbend1_i.rename(columns={'# Columns: time':'time'})
    bend1_list.append(dfbend1_i)
    
bend1_train = pd.concat(bend1_list, ignore_index = True)
bend1_train.tail()

        time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23
2395  118750      44.25       0.83      16.25       1.30      24.00       0.00
2396  119000      44.00       0.71      11.00       1.00      24.00       0.00
2397  119250      44.25       0.43      10.25       1.30      22.75       0.83
2398  119500      43.75       0.43       7.33       2.87      21.50       0.50
2399  119750      44.50       0.50       3.00       1.22      21.50       0.50

```
In file dataset4.csv under folder bending2, I have done some data cleaning which involve replacing of seperator of data part from  ' ' to ',' in excel and removed last empty column  in datset
```

In [5]:
# for training bending 2 data
file_bend2 = ['dataset3.csv','dataset4.csv','dataset4.csv','dataset5.csv','dataset6.csv']
bend2_list = []
for f2 in file_bend2: 
    dfbend2_i = pd.read_csv('../data/AReM/bending2/' + f2, skiprows=4)
    dfbend2_i = dfbend2_i.rename(columns={'# Columns: time':'time'})
    bend2_list.append(dfbend2_i)
    
bend2_train = pd.concat(bend2_list, ignore_index = True)
bend2_train.tail()

        time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23
2395  118750       27.0        0.0      14.00       0.00        6.5        0.5
2396  119000       27.0        0.0      15.00       0.00        4.0        1.0
2397  119250       27.0        0.0      14.25       0.83        4.0        2.0
2398  119500       27.0        0.0      13.33       1.25        1.5        0.5
2399  119750       26.5        0.5      15.00       0.00        3.0        0.0

```
Have removed extra , from end of file dataset9.csv, dataset14.csv from cycling folder
```

In [6]:
# for training cycling data
regex = re.compile("\d+")
gl = glob("../data/AReM/cycling/*.csv")
file_cycling = [x.replace('../data/AReM/cycling\\','') for x in gl]
file_cycling.sort(key=lambda x: int(regex.search(x).group())) # for sorting based on number in file dataset10.csv, etc
print(file_cycling,"\n")
print(file_cycling[3:],"\n")
cycling_list = []
for f in file_cycling[3:]: 
    dfcycling_i = pd.read_csv('../data/AReM/cycling/' + f, skiprows=4)
    dfcycling_i = dfcycling_i.rename(columns={'# Columns: time':'time'})
    cycling_list.append(dfcycling_i)
    print("Added",f)
    
cycling_train = pd.concat(cycling_list, ignore_index = True)
cycling_train.tail()

['dataset1.csv', 'dataset2.csv', 'dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv']

['dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv']

Added dataset4.csv
Added dataset5.csv
Added dataset6.csv
Added dataset7.csv
Added dataset8.csv
Added dataset9.csv
Added dataset10.csv
Added dataset11.csv
Added dataset12.csv
Added dataset13.csv
Added dataset14.csv
Added dataset15.csv

        time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23
5755  118750      38.00       2.55      18.25       2.17      20.00       4.74
5756  119000      36.00       0.00      19.00       1.41      13.67       1.25
5757  119250      37.00       1.73      17.75       0.43      22.50       0.87
5758  119500      37.00       3.74      19.00       4.18      22.00       1.41
5759  119750      38.75       1.92      16.75       3.49      21.00       3.67

In [7]:
# for training lying data
regex = re.compile("\d+")
gl = glob("../data/AReM/lying/*.csv")
file_lying = [x.replace('../data/AReM/lying\\','') for x in gl]
file_lying.sort(key=lambda x: int(regex.search(x).group())) # for sorting based on number in file dataset10.csv, etc
print(file_lying,"\n")
print(file_lying[3:],"\n")
lying_list = []
for f in file_lying[3:]: 
    dflying_i = pd.read_csv('../data/AReM/lying/' + f, skiprows=4)
    dflying_i = dflying_i.rename(columns={'# Columns: time':'time'})
    lying_list.append(dflying_i)
    print("Added",f)
    
lying_train = pd.concat(lying_list, ignore_index = True)
lying_train.tail()

['dataset1.csv', 'dataset2.csv', 'dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv']

['dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv']

Added dataset4.csv
Added dataset5.csv
Added dataset6.csv
Added dataset7.csv
Added dataset8.csv
Added dataset9.csv
Added dataset10.csv
Added dataset11.csv
Added dataset12.csv
Added dataset13.csv
Added dataset14.csv
Added dataset15.csv

        time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23
5755  118750      29.25       0.43       4.00       0.00      10.50       0.50
5756  119000      29.25       0.43       4.00       0.00      10.25       0.83
5757  119250      29.50       0.50       2.33       0.94       9.67       0.94
5758  119500      29.00       0.00       2.67       0.47      10.00       0.82
5759  119750      29.00       0.00       2.75       0.43      11.00       0.82

In [8]:
# for training sitting data
regex = re.compile("\d+")
gl = glob("../data/AReM/sitting/*.csv")
file_sitting = [x.replace('../data/AReM/sitting\\','') for x in gl]
file_sitting.sort(key=lambda x: int(regex.search(x).group())) # for sorting based on number in file dataset10.csv, etc
print(file_sitting,"\n")
print(file_sitting[3:],"\n")
sitting_list = []
for f in file_sitting[3:]: 
    dfsitting_i = pd.read_csv('../data/AReM/sitting/' + f, skiprows=4)
    dfsitting_i = dfsitting_i.rename(columns={'# Columns: time':'time'})
    sitting_list.append(dfsitting_i)
    print("Added",f)
    
sitting_train = pd.concat(sitting_list, ignore_index = True)
sitting_train.tail()

['dataset1.csv', 'dataset2.csv', 'dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv']

['dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv']

Added dataset4.csv
Added dataset5.csv
Added dataset6.csv
Added dataset7.csv
Added dataset8.csv
Added dataset9.csv
Added dataset10.csv
Added dataset11.csv
Added dataset12.csv
Added dataset13.csv
Added dataset14.csv
Added dataset15.csv

        time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23
5754  118750      41.00       0.82      17.25       1.30      11.00       0.82
5755  119000      41.50       0.50      18.00       0.00      10.67       1.25
5756  119250      41.33       0.47      18.67       0.47      11.00       1.41
5757  119500      41.50       0.50      18.50       0.50      12.33       0.47
5758  119750      41.50       0.50      17.00       1.00      13.50       1.12

In [9]:
# for training standing data
regex = re.compile("\d+")
gl = glob("../data/AReM/standing/*.csv")
file_standing = [x.replace('../data/AReM/standing\\','') for x in gl]
file_standing.sort(key=lambda x: int(regex.search(x).group())) # for sorting based on number in file dataset10.csv, etc
print(file_standing,"\n")
print(file_standing[3:])
standing_list = []
for f in file_standing[3:]: 
    dfstanding_i = pd.read_csv('../data/AReM/standing/' + f, skiprows=4)
    dfstanding_i = dfstanding_i.rename(columns={'# Columns: time':'time'})
    standing_list.append(dfstanding_i)
    print("Added",f)
    
standing_train = pd.concat(standing_list, ignore_index = True)
standing_train.tail()

['dataset1.csv', 'dataset2.csv', 'dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv']

['dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv']
Added dataset4.csv
Added dataset5.csv
Added dataset6.csv
Added dataset7.csv
Added dataset8.csv
Added dataset9.csv
Added dataset10.csv
Added dataset11.csv
Added dataset12.csv
Added dataset13.csv
Added dataset14.csv
Added dataset15.csv

        time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23
5755  118750      45.25       0.43      12.25       0.43      13.75       0.83
5756  119000      45.00       0.00      12.60       0.80      14.25       0.83
5757  119250      45.00       0.00      12.00       0.00      14.50       0.50
5758  119500      45.50       0.50      12.25       0.43      14.50       0.50
5759  119750      45.00       0.00      12.50       0.87      14.00       0.71

In [10]:
# for training walking data
regex = re.compile("\d+")
gl = glob("../data/AReM/walking/*.csv")
file_walking = [x.replace('../data/AReM/walking\\','') for x in gl]
file_walking.sort(key=lambda x: int(regex.search(x).group())) # for sorting based on number in file dataset10.csv, etc
print(file_walking,"\n")
print(file_walking[3:])
walking_list = []
for f in file_walking[3:]: 
    dfwalking_i = pd.read_csv('../data/AReM/walking/' + f, skiprows=4)
    dfwalking_i = dfwalking_i.rename(columns={'# Columns: time':'time'})
    walking_list.append(dfwalking_i)
    print("Added",f)
    
walking_train = pd.concat(walking_list, ignore_index = True)
walking_train.tail()

['dataset1.csv', 'dataset2.csv', 'dataset3.csv', 'dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv']

['dataset4.csv', 'dataset5.csv', 'dataset6.csv', 'dataset7.csv', 'dataset8.csv', 'dataset9.csv', 'dataset10.csv', 'dataset11.csv', 'dataset12.csv', 'dataset13.csv', 'dataset14.csv', 'dataset15.csv']
Added dataset4.csv
Added dataset5.csv
Added dataset6.csv
Added dataset7.csv
Added dataset8.csv
Added dataset9.csv
Added dataset10.csv
Added dataset11.csv
Added dataset12.csv
Added dataset13.csv
Added dataset14.csv
Added dataset15.csv

        time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23
5755  118750      34.50       6.18       9.00       3.56      12.67       4.19
5756  119000      25.75       6.02      13.75       2.05      16.00       1.58
5757  119250      31.50       3.35      10.25       5.12      16.25       2.95
5758  119500      33.75       2.77      14.00       3.24      13.75       0.43
5759  119750      37.00       1.41      18.25       3.70      11.00       4.32

Test Data

In [11]:
# for test bending 1 data
file_bend1 = ['dataset1.csv','dataset2.csv']
bend1_list = []
for f1 in file_bend1: 
    dfbend1_i = pd.read_csv('../data/AReM/bending1/' + f1, skiprows=4)
    dfbend1_i = dfbend1_i.rename(columns={'# Columns: time':'time'})
    bend1_list.append(dfbend1_i)
    
bend1_test = pd.concat(bend1_list, ignore_index = True)
bend1_test.tail()

       time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23
955  118750      43.00       0.71       9.50       2.18      30.25       0.43
956  119000      43.25       0.83      12.25       0.43      32.50       0.50
957  119250      43.50       0.50      13.00       2.35      32.50       0.87
958  119500      43.75       0.43      15.75       1.92      31.50       0.50
959  119750      43.25       0.83      20.75       0.43      31.00       0.71

In [12]:
# for test bending 2 data
file_bend2 = ['dataset1.csv','dataset2.csv']
bend2_list = []
for f2 in file_bend2: 
    dfbend2_i = pd.read_csv('../data/AReM/bending2/' + f2, skiprows=4)
    dfbend2_i = dfbend2_i.rename(columns={'# Columns: time':'time'})
    bend2_list.append(dfbend2_i)
    
bend2_test = pd.concat(bend2_list, ignore_index = True)
bend2_test.tail()

       time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23
955  118750      23.00       0.71      11.25       2.49      26.75       1.92
956  119000      22.25       0.43      15.50       0.87      29.50       1.50
957  119250      23.75       0.43      17.67       0.47      25.67       3.09
958  119500      24.25       0.43      13.33       1.25      30.00       2.45
959  119750      25.33       0.47      14.75       1.09      25.33       3.68

In [13]:
# for test cycling data
file_cycling = ['dataset1.csv','dataset2.csv','dataset3.csv']
cycling_list = []
for f in file_cycling: 
    dfcycling_i = pd.read_csv('../data/AReM/cycling/' + f, skiprows=4)
    dfcycling_i = dfcycling_i.rename(columns={'# Columns: time':'time'})
    cycling_list.append(dfcycling_i)
    print("Added",f)
    
cycling_test = pd.concat(cycling_list, ignore_index = True)
cycling_test.tail()

Added dataset1.csv
Added dataset2.csv
Added dataset3.csv

        time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23
1435  118750      36.50       1.50      15.67       9.74      20.50       2.87
1436  119000      36.00       0.00      23.25       1.30      17.00       1.63
1437  119250      32.33       5.56      15.33       3.77      14.50       4.82
1438  119500      32.00       5.87      12.25       2.17      14.50       2.87
1439  119750      38.00       2.12      16.50       3.20      11.25       5.80

In [14]:
# for test lying data
file_lying = ['dataset1.csv','dataset2.csv','dataset3.csv']
lying_list = []
for f in file_lying: 
    dflying_i = pd.read_csv('../data/AReM/lying/' + f, skiprows=4)
    dflying_i = dflying_i.rename(columns={'# Columns: time':'time'})
    lying_list.append(dflying_i)
    print("Added",f)
    
lying_test = pd.concat(lying_list, ignore_index = True)
lying_test.tail()

Added dataset1.csv
Added dataset2.csv
Added dataset3.csv

        time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23
1435  118750       48.0        0.0       7.75       0.43      11.25       0.83
1436  119000       48.0        0.0       8.33       0.47       9.67       0.47
1437  119250       48.0        0.0       8.75       0.43       9.50       0.50
1438  119500       48.0        0.0       9.00       0.00       9.75       0.83
1439  119750       48.0        0.0       9.00       0.00       9.33       0.47

In [15]:
# for test sitting data
file_sitting = ['dataset1.csv','dataset2.csv','dataset3.csv']
sitting_list = []
for f in file_sitting: 
    dfsitting_i = pd.read_csv('../data/AReM/sitting/' + f, skiprows=4)
    dfsitting_i = dfsitting_i.rename(columns={'# Columns: time':'time'})
    sitting_list.append(dfsitting_i)
    print("Added",f)
    
sitting_test = pd.concat(sitting_list, ignore_index = True)
sitting_test.tail()

Added dataset1.csv
Added dataset2.csv
Added dataset3.csv

        time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23
1435  118750       45.0        0.0       9.00       0.82       21.0        0.0
1436  119000       45.0        0.0       6.67       0.94       21.0        0.0
1437  119250       45.0        0.0       6.67       2.05       21.0        0.0
1438  119500       45.0        0.0       5.50       1.50       21.0        0.0
1439  119750       45.0        0.0       4.75       2.49       21.0        0.0

In [16]:
# for test standing data
file_standing = ['dataset1.csv','dataset2.csv','dataset3.csv']
standing_list = []
for f in file_standing: 
    dfstanding_i = pd.read_csv('../data/AReM/standing/' + f, skiprows=4)
    dfstanding_i = dfstanding_i.rename(columns={'# Columns: time':'time'})
    standing_list.append(dfstanding_i)
    print("Added",f)
    
standing_test = pd.concat(standing_list, ignore_index = True)
standing_test.tail()

Added dataset1.csv
Added dataset2.csv
Added dataset3.csv

        time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23
1435  118750      41.25       0.83      19.75       0.43      17.00       0.71
1436  119000      41.50       0.50      20.75       0.43      17.25       0.83
1437  119250      41.50       0.50      20.75       0.43      15.75       0.83
1438  119500      41.50       0.50      20.50       0.50      15.75       0.83
1439  119750      41.50       0.50      20.25       0.43      15.25       0.83

In [17]:
# for test walking data
file_walking = ['dataset1.csv','dataset2.csv','dataset3.csv']
walking_list = []
for f in file_walking: 
    dfwalking_i = pd.read_csv('../data/AReM/walking/' + f, skiprows=4)
    dfwalking_i = dfwalking_i.rename(columns={'# Columns: time':'time'})
    walking_list.append(dfwalking_i)
    print("Added",f)
    
walking_test = pd.concat(walking_list, ignore_index = True)
walking_test.tail()

Added dataset1.csv
Added dataset2.csv
Added dataset3.csv

        time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23
1435  118750      36.00       2.45      17.00       5.10      20.50       0.87
1436  119000      34.33       1.89      15.00       2.45      17.00       2.12
1437  119250      33.00       7.35      14.60       3.14      13.00       5.70
1438  119500      31.67       1.25      11.00       6.16      19.25       2.17
1439  119750      30.75      10.21      11.75       1.09      18.50       3.20

In [18]:
bend1 = pd.concat([bend1_test, bend1_train], ignore_index= True)
bend2 = pd.concat([bend2_test, bend2_train], ignore_index= True)
cycling = pd.concat([cycling_test, cycling_train], ignore_index= True)
lying = pd.concat([lying_test, lying_train], ignore_index= True)
sitting = pd.concat([sitting_test, sitting_train], ignore_index= True)
standing = pd.concat([standing_test, standing_train], ignore_index= True)
walking = pd.concat([walking_test, walking_train], ignore_index= True)

Full_Training_data = pd.concat([bend1_train, bend2_train, cycling_train, lying_train, sitting_train, standing_train, walking_train], ignore_index = True)
Full_Testing_data = pd.concat([bend1_test, bend2_test, cycling_test, lying_test, sitting_test, standing_test, walking_test], ignore_index = True)
Full_data = pd.concat([bend1, bend2, cycling, lying, sitting, standing, walking], ignore_index = True)
Full_data.tail()

,time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
42714,118750,34.50,6.18,9.00,3.56,12.67,4.19
42715,119000,25.75,6.02,13.75,2.05,16.00,1.58
42716,119250,31.50,3.35,10.25,5.12,16.25,2.95
42717,119500,33.75,2.77,14.00,3.24,13.75,0.43
42718,119750,37.00,1.41,18.25,3.70,11.00,4.32

### (c) Feature Extraction

#### i. Research

```
Some List of time-domain features that are usually used in time series classification are:

- Min 
- Max 
- Mean
- Median 
- Standard deviation 
- Variance
- first quartile
- third quartile
- Interquartile range
- Skewness
- Kurtosis
- Spectral Entropy
- Scaling properties
- Cross Correlation
```

#### ii. Extraction

In [19]:
def stats_df(List_path):
    DF_List = []
    for path in List_path:
        #print(path)
        df = pd.read_csv(path, skiprows=4) 
        df = df.rename(columns={'# Columns: time':'time'})
        new_clmn = ['min₁','max₁','mean₁','median₁','standard deviation₁','1st quart₁','3rd quart₁',
                    'min₂','max₂','mean₂','median₂','standard deviation₂','1st quart₂','3rd quart₂',
                    'min₃','max₃','mean₃','median₃','standard deviation₃','1st quart₃','3rd quart₃',
                    'min₄','max₄','mean₄','median₄','standard deviation₄','1st quart₄','3rd quart₄',
                    'min₅','max₅','mean₅','median₅','standard deviation₅','1st quart₅','3rd quart₅',
                    'min₆','max₆','mean₆','median₆','standard deviation₆','1st quart₆','3rd quart₆'
                   ]
        data = []
        for clmn in df.columns[1:]: #this loop is for appending stats of a column from a dataset
            min_x = df[clmn].min() 
            max_x = df[clmn].max()
            mean = round(df[clmn].mean(),2)
            median = round(df[clmn].median(),2)
            std = round(df[clmn].std(),3)
            first_q = round(np.quantile(df[clmn],0.25),2)
            third_q = round(np.quantile(df[clmn],0.75),2)
            data.append([min_x,max_x,mean,median,std,first_q,third_q])
        #print('---',len(data))
        #print(data)
        Aggr_data = [element for sublist in data for element in sublist] #Aggregate all the columns state into one list
        #print(Aggr_data)
        #print(len(Aggr_data))
        df1 = (pd.DataFrame(data = Aggr_data)).T #Created a dataset of stats of all the column and Transpose it later
        #print(df1)
        df1.columns = new_clmn 
        DF_List.append(df1) #Appending dataframe containing stats row of a dataset to a output list
    result_df = pd.concat(DF_List, ignore_index=True) #concat all the data frame into one
    return result_df

In [20]:
# Stats for bend1
StatsOutput_List = []
for ele in ['bending1','bending2','cycling','lying','sitting','standing','walking']: #for loop for all folders
    regex = re.compile("\d+")
    gl = glob(f"../data/AReM/{ele}/*.csv") #list of csv file relative path for specific element/folders. 
    files = [x.replace('\\','/') for x in gl]
    files.sort(key=lambda x: int(regex.search(x).group())) #sort files based on integer number like dataset1.csv then dataset2.csv 
    dftemp = stats_df(files) 
    StatsOutput_List.append(dftemp)

Final_stats = pd.concat(StatsOutput_List, ignore_index=True)
Final_stats.insert(loc=0, column='Instance', value=pd.Series(range(1, len(Final_stats) + 1)))
Final_stats = Final_stats.set_index('Instance')
Final_stats

,min₁,max₁,mean₁,median₁,standard deviation₁,1st quart₁,3rd quart₁,min₂,max₂,mean₂,...,standard deviation₅,1st quart₅,3rd quart₅,min₆,max₆,mean₆,median₆,standard deviation₆,1st quart₆,3rd quart₆
Instance,,,,,,,,,,,,,,,,,,,,,
1,37.25,45.00,40.62,40.50,1.477,39.25,42.00,0.0,1.30,0.36,...,2.188,33.00,36.00,0.00,1.92,0.57,0.43,0.583,0.00,1.30
2,38.00,45.67,42.81,42.50,1.436,42.00,43.67,0.0,1.22,0.37,...,1.995,32.00,34.50,0.00,3.11,0.57,0.43,0.601,0.00,1.30
3,35.00,47.40,43.95,44.33,1.559,43.00,45.00,0.0,1.70,0.43,...,2.000,35.36,36.50,0.00,1.79,0.49,0.43,0.514,0.00,0.94
4,33.00,47.75,42.18,43.50,3.671,39.15,45.00,0.0,3.00,0.70,...,3.849,30.46,36.33,0.00,2.18,0.61,0.50,0.524,0.00,1.00
5,33.00,45.75,41.68,41.75,2.243,41.33,42.75,0.0,2.83,0.54,...,2.411,28.46,31.25,0.00,1.79,0.38,0.43,0.389,0.00,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,19.50,45.33,33.59,34.25,4.651,30.25,37.00,0.0,14.67,4.58,...,3.284,13.73,18.25,0.00,8.32,3.26,3.11,1.640,2.05,4.32
85,19.75,45.50,34.32,35.25,4.752,31.00,38.00,0.0,13.47,4.46,...,3.120,13.50,17.75,0.00,9.67,3.43,3.20,1.733,2.16,4.56
86,19.50,46.00,34.55,35.25,4.842,31.25,37.81,0.0,12.47,4.37,...,2.823,14.00,17.75,0.00,10.00,3.34,3.08,1.657,2.16,4.34
87,23.50,46.25,34.87,35.25,4.532,31.75,38.25,0.0,14.82,4.38,...,3.131,13.75,18.00,0.00,9.51,3.42,3.27,1.691,2.17,4.50
88,19.25,44.00,34.47,35.00,4.797,31.25,38.00,0.0,13.86,4.36,...,3.156,13.73,17.75,0.43,9.00,3.34,3.09,1.699,2.12,4.38

#### iii. Standard Deviation and 90% Confidence Interval of time-domain features

In [21]:
Output = []
clmn_list = ['Time-domain features','Standard Deviation','Lower Confidence Level','Upper Confidence Level']
for clmn in Final_stats.columns:
    sample = np.array(Final_stats[clmn])
    bootOutput = bs.bootstrap(sample, stat_func=bs_stats.std, alpha=0.1)
    Output.append([clmn, Final_stats[clmn].std(), bootOutput.lower_bound, bootOutput.upper_bound])
dfOutput = pd.DataFrame(data=Output, columns=clmn_list)
print('90% Confidence Interval of time-domain features with standard deviation:')
dfOutput

90% Confidence Interval of time-domain features with standard deviation:

,Time-domain features,Standard Deviation,Lower Confidence Level,Upper Confidence Level
0,min₁,9.569975,8.327624,10.807722
1,max₁,4.394362,3.485545,5.439574
2,mean₁,5.335162,4.766247,5.926020
3,median₁,5.440194,4.838069,6.046307
4,standard deviation₁,1.772188,1.585718,1.961991
5,1st quart₁,6.153513,5.611729,6.691106
6,3rd quart₁,5.139034,4.415826,5.922005
7,min₂,0.000000,0.000000,0.000000
8,max₂,5.062729,4.697240,5.481261
9,mean₂,1.574314,1.435290,1.743357
10,median₂,1.411956,1.274343,1.578655
11,standard deviation₂,0.884081,0.821266,0.960731
12,1st quart₂,0.946505,0.852455,1.056248
13,3rd quart₂,2.124770,1.943599,2.344618
14,min₃,2.956462,2.784167,3.139695
15,max₃,4.875137,4.261789,5.545707
16,mean₃,4.008436,3.508770,4.580350
17,median₃,4.036331,3.507944,4.610180
18,standard deviation₃,0.946726,0.769653,1.125078
19,1st quart₃,4.220675,3.707982,4.789475
20,3rd quart₃,4.171508,3.638347,4.785369
21,min₄,0.000000,0.000000,0.000000
22,max₄,2.183625,1.998206,2.379716
23,mean₄,1.166258,1.102757,1.249566
24,median₄,1.145710,1.083895,1.227201
25,standard deviation₄,0.458199,0.427544,0.492490
26,1st quart₄,0.843884,0.792230,0.908157
27,3rd quart₄,1.552660,1.469022,1.664608
28,min₅,6.124001,4.719015,7.805326
29,max₅,5.741238,4.902002,6.701756
30,mean₅,5.675307,4.594710,6.903768
31,median₅,5.813891,4.696911,7.080471
32,standard deviation₅,1.024923,0.828082,1.227371
33,1st quart₅,6.096353,4.953729,7.343419
34,3rd quart₅,5.531817,4.493717,6.669068
35,min₆,0.045838,0.013125,0.091154
36,max₆,2.518921,2.262075,2.771317
37,mean₆,1.154511,1.087688,1.239693
38,median₆,1.086122,1.019022,1.171742
39,standard deviation₆,0.517669,0.487391,0.552858
40,1st quart₆,0.758364,0.705626,0.821892
41,3rd quart₆,1.523667,1.438289,1.636274

#### iv. Select Features

I will choose below three features:
1. Mean: When the data distribution is continuous, the mean is considered the most effective measure of central tendency.
2. Standard deviation: it is a perfect measure of dispersion.
3. 3rd Quartile: it is the 75th percentile and indicates that 75% of the data are less than or equal to this value. 

```
References
[1] N. Ravi, N. Dandekar, P. Mysore, M. L. Littman, "Activity Recognition from Accelerometer Data", In IAAI, pp. 1541-1546, Pittsburgh, Pennsylvania, USA, 2005. [2] T. Huynh et al., "Analyzing features for activity recognition", In sOc-EUSAI, New York, USA, 2005.
```

## 2. ISLR 3.7.4

### (a) Linear Train

My anticipation is that the training RSS of the polynomial regression will be lesser compared to the linear regression. This is because the predictors have a direct correlation with the model's fitting, which may result in a more precise fit against the data that aligns with a broader irreducible error.

### (b) Linear Test

Using too many predictors can result in overfitting using the test data. Therefore, in a test scenario, linear regression's RSS is expected to be lower as it is more likely to produce a relatively accurate regression outcome.

### (c) Not Linear Train

As per basic rule, adding more predictors reduces the RSS and also cubic regression is more flexible which means the RSS of cubic regression would be lower than the linear regression.

### (d) Not Linear Testing

It is impossible to determine which test RSS would be lower for either regression since information provided is insufficient we lack information on "how far it is from linear." If the data is closer to linear than cubic, the test RSS for linear regression could be lower than that of cubic regression. Conversely, if the data is closer to cubic than linear, the test RSS for cubic regression could be lower than that of linear regression as covered above. This is because of the tradeoff between bias and variance: it's uncertain which level of flexibility will suit this data best.

## 3. ISLR 3.7.3 - Extra Practice

## 3. ISLR 3.7.5 - Extra Practice